DATA_PATH=./../private-network/data

USDT_BEAM_BRIDGE_CID=
USDT_ETH_PIPE_CONTRACT_ADDRESS=
USDT_ETH_SENDER=
USDT_ETH_SENDER_PRIVATE_KEY=
USDT_ETH_TOKEN_CONTRACT=
USDT_ETH_SIDE_DECIMALS=6

DAI_BEAM_BRIDGE_CID=
DAI_ETH_PIPE_CONTRACT_ADDRESS=
DAI_ETH_SENDER=
DAI_ETH_SENDER_PRIVATE_KEY=
DAI_ETH_TOKEN_CONTRACT=
DAI_ETH_SIDE_DECIMALS=18

WBTC_BEAM_BRIDGE_CID=
WBTC_ETH_PIPE_CONTRACT_ADDRESS=
WBTC_ETH_SENDER=
WBTC_ETH_SENDER_PRIVATE_KEY=
WBTC_ETH_TOKEN_CONTRACT=
WBTC_ETH_SIDE_DECIMALS=8

BEAM_BRIDGE_CID=
ETH_PIPE_CONTRACT_ADDRESS=
ETH_SENDER=
ETH_SENDER_PRIVATE_KEY=
ETH_TOKEN_CONTRACT=
ETH_SIDE_DECIMALS=18