DATA_PATH=./../private-network/data
NETWORK_NAME=beam-local-test-network_default
USE_EXTERNAL_NETWORK=true
GAS_PRICE_API_URL=""
COINGECKO_CURRENCY_RATE_API_URL=""
RESERVE_CURRENCY_RATE_API_URL=""
BEAM_WALLET_API_PORT=12011
BEAM_BLOCK_CREATION_PERIOD=60000

# used only for profile "api" - with wallet-api & node containers
BEAM_NODE_BINARY=beam-node
BEAM_WALLET_BINARY=beam-wallet
BEAM_NODE_PEER=eu-nodes.mainnet.beam.mw:8100,us-nodes.mainnet.beam.mw:8100
BEAM_NODE_PORT=12003
BEAM_WALLET_API_BINARY=wallet-api
BEAM_WALLET_API_SEED_PHRASE=""
BEAM_WALLET_API_PASS=""
BEAM_CUSTOM_NETWORK_ARGS=""
BEAM_MIN_CONFIRMATIONS=61

# ETH side config
BEAM_PIPE_CID=
ETH_PIPE_CONTRACT_ADDRESS=
ETH_RELAYER_ADDRESS=
ETH_RELAYER_PRIVATE_KEY=
ETH_TOKEN_CONTRACT=
ETH_SIDE_DECIMALS=18
ETH_COINGECKO_CURRENCY_RATE_ID=ethereum
ETH_HTTP_PROVIDER="http://localhost:8543"
ETH_WEBSOCKET_PROVIDER="ws://127.0.0.1:8546"
ETH_LOW_FEE_MESSAGES_REFRESH_INTERVAL=30
ETH_PIPE_CONTRACT_ABI=EthPipe.json
ETH_MIN_CONFRIMATIONS=12
ETH_PIPE_PUSH_REMOTE_GAS_LIMIT=120000