NETWORK_NAME=beam-local-test-network_default
USE_EXTERNAL_NETWORK=true
DATA_PATH=./../private-network/data
GAS_PRICE_API_URL=""
COINGECKO_CURRENCY_RATE_API_URL=""
RESERVE_CURRENCY_RATE_API_URL=""
BEAM_WALLET_API_PORT=11011

# used only for profile "api" - with wallet-api container
BEAM_WALLET_API_PEER=localhost:11003
BEAM_WALLET_API_SEED_PHRASE=""
BEAM_WALLET_API_PASS=""
BEAM_CUSTOM_NETWORK_ARGS="--FakePoW=1 --Fork1=20 --Fork2=40 --Fork3=60 --Maturity.Coinbase=60"

USDT_BEAM_PIPE_CID=
USDT_ETH_PIPE_CONTRACT_ADDRESS=
USDT_ETH_RELAYER_ADDRESS=
USDT_ETH_RELAYER_PRIVATE_KEY=
USDT_ETH_TOKEN_CONTRACT=
USDT_ETH_SIDE_DECIMALS=6
USDT_COINGECKO_CURRENCY_RATE_ID=tether
USDT_ETH_HTTP_PROVIDER="http://localhost:8543"
USDT_ETH_WEBSOCKET_PROVIDER="ws://127.0.0.1:8546"
USDT_LOW_FEE_MESSAGES_REFRESH_INTERVAL=24

DAI_BEAM_PIPE_CID=
DAI_ETH_PIPE_CONTRACT_ADDRESS=
DAI_ETH_RELAYER_ADDRESS=
DAI_ETH_RELAYER_PRIVATE_KEY=
DAI_ETH_TOKEN_CONTRACT=
DAI_ETH_SIDE_DECIMALS=18
DAI_COINGECKO_CURRENCY_RATE_ID=dai
DAI_ETH_HTTP_PROVIDER="http://localhost:8543"
DAI_ETH_WEBSOCKET_PROVIDER="ws://127.0.0.1:8546"
DAI_LOW_FEE_MESSAGES_REFRESH_INTERVAL=26

WBTC_BEAM_PIPE_CID=
WBTC_ETH_PIPE_CONTRACT_ADDRESS=
WBTC_ETH_RELAYER_ADDRESS=
WBTC_ETH_RELAYER_PRIVATE_KEY=
WBTC_ETH_TOKEN_CONTRACT=
WBTC_ETH_SIDE_DECIMALS=8
WBTC_COINGECKO_CURRENCY_RATE_ID=wrapped-bitcoin
WBTC_ETH_HTTP_PROVIDER="http://localhost:8543"
WBTC_ETH_WEBSOCKET_PROVIDER="ws://127.0.0.1:8546"
WBTC_LOW_FEE_MESSAGES_REFRESH_INTERVAL=28

BEAM_PIPE_CID=
ETH_PIPE_CONTRACT_ADDRESS=
ETH_RELAYER_ADDRESS=
ETH_RELAYER_PRIVATE_KEY=
ETH_TOKEN_CONTRACT=
ETH_SIDE_DECIMALS=18
ETH_COINGECKO_CURRENCY_RATE_ID=ethereum
ETH_HTTP_PROVIDER="http://localhost:8543"
ETH_WEBSOCKET_PROVIDER="ws://127.0.0.1:8546"
ETH_LOW_FEE_MESSAGES_REFRESH_INTERVAL=30